<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <!--jquery-->
    <!--todo 所谓的thymeleaf的语法斜杠代表/static ?-->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <!--jquery validator-->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!--layer-->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!--md5.js-->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!--common.js-->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>


</head>
<body>
<form name="loginForm" id="loginForm" method="post" style="width:50%;margin: 0 auto;">
    <h2 style="text-align: center;margin-bottom:20px;">用户登录</h2>
    <div class="form-group">
        <label class="form-label col-md-4">请输入手机号码</label>
        <div class="col-md-5">
            <input type="text" class="form-control" id="mobile"
                   placeholder="手机号码" required="true" minlength="11" maxlength="11">
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">请输入密码</label>
            <div class="col-md-5">
                <input type="password" id="password" name="password" class="form-control" placeholder="密码"
                       required="true" maxlength="16" minlength="6">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <button class="btn btn-primary btn-block" type="reset" onclick="reset()">重置</button>
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary btn-block" type="submit" onclick="login()">登录</button>
        </div>
    </div>
</form>
</body>
<script>
    function login() {
        $("#loginForm").validate({
            submitHandler: function (form) {
                doLogin();
            }
        });
    }

    function doLogin() {
        g_showLoading();

        var inputPass = $("#password").val();
        var salt = g_password_salt;
        var str = "" + salt.charAt(0) + salt.charAt(2) + inputPass + salt.charAt(5) + salt.charAt(4);
        //经过一次固定盐md5散列 得到formPass
        var password = md5(str);
        $.ajax({
            url: "/login/do_login",
            type: "POST",
            data: {
                mobile: $('#mobile').val(),
                password: password
            },
            success: function (data) {
                layer.closeAll();
                 // Ajax请求成功时 根据返回的data.code判断是否成功
                console.log(data);
                if(data.code === 0) {
                 // 成功时layer输出[成功]提示 并跳转
                    layer.msg("成功");
                    window.location.href = "/goods/to_list";
                }else{
                 // 失败时layer根据data.msg输出对应的[失败]提示
                    layer.msg(data.msg)
                }
            },
            error: function () {
                //Ajax请求失败 关闭layer不作处理
                layer.closeAll();
            }
        });
    }
</script>
</html>